# version: '3.10'

services:
  # based on current Dockerfile image which contains: djago application, preinstalled gunicorn.
  web:
    build: .
    container_name: django_app
    restart: always
    command: >
      sh -c "python manage.py migrate &&
             gunicorn --workers 3 --bind 0.0.0.0:8000 django_project.wsgi:application"
    volumes:
      - .:/usr/src/app
      - static_volume_live:/usr/src/app/staticfiles
    # map container port to host machine port
    ports:
      - "8000:8000"
    depends_on:
      - postgres_service
    environment:
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_USER=${DATABASE_USER}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}

    networks:
      - app-network_live

  # based on postgres image
  # with the start of container ie. service, the below DB will be created
  postgres_service:
    image: postgres:latest
    container_name: postgres_service_container
    restart: always
    environment:
      - POSTGRES_DB=${DATABASE_NAME}
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network_live

volumes:
  static_volume_live:
  postgres_data:

networks:
  app-network_live:
    name: app-network_live
    driver: bridge